:root {
  --gray-700: #0D0D0D;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --blue: #4ea8de;
  --blue-dark: #1e6f9f;
  --purple: #8284fa;
  --purple-dark: #5e60ce;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button, span {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

:focus {
  outline: transparent;
}
