.tasksCount {
  width: 736px;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.tasksCount span:nth-child(1) {
  color: var(--blue);
  font-weight: bold;
  font-size: 0.875rem;
}

.tasksCount span:nth-child(2) {
  color: var(--purple);
  font-weight: bold;
  font-size: 0.875rem;
}