.tasksList {
  width: 736px;
  margin-top: 24px;
}

.task {
  border-radius: 8px;
  border: 2px solid var(--gray-400);
  background-color: var(--gray-500);
  display: flex;
  align-items: flex-start;
  padding: 15px;
  justify-content: space-between;
  margin-bottom: 12px;
}

.task button {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 3px;
  color: var(--gray-300)
}

.task button:hover {
  background-color: var(--gray-400);
  border-radius: 4px;
  color: var(--danger);
}

.taskContent {
  width: 632px;
  margin-top: 5px;
}

.taskContent label {
  margin-left: 10px;
  font-size: 0.875rem;
  color: var(--gray-100);
  margin-bottom: 2px;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  word-break: break-all;
}

.taskContent input:checked + label {
  text-decoration: line-through;
  color: var(--gray-300);
}
